MobileChat/MobileChat.Android/obj/
MobileChat/MobileChat/obj/
Server/bin/
Server/obj/
MobileChat/MobileChat.iOS/obj/
MobileChat/MobileChat.Android/bin/
MobileChat/MobileChat/bin/
MobileChat/MobileChat.iOS/bin/
